.header {
    /* width: 350px; */
    margin: 0 auto;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title {
    font-family: var(--Rubik);
    font-weight: 700;
    font-size: 24px;
    line-height: 28.44px;
    letter-spacing: -0.031em;
}

.main {
    height: 1104px;
    background: #F4F7FA;

}


.sign-up-container {
    width: 350px;
    margin: 0 auto;
    padding-top: 125px;
}

.sign-up-title {
    font-family: var(--Roboto);
    font-weight: 700;
    font-size: 60px;
    line-height: 65px;
    letter-spacing: -0.02em;
    text-align: center;

}

.sign-up-text {
    font-family: var(--Roboto);
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: -0.02em;
    margin-top: 34px;

}